.urgent__news__wrapper {
	.urgent__news__container {
		width: 415px;
		background: #FFFFFF;
		box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.25);
		border-radius: 19px;
		padding: 30px;
		// height: 100%;
		.urgent__news__title {
			display: flex;
			column-gap: 5px;
			img {

			}
			span {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 27px;
				color: #000000;
			}
		}
		.urgent__news__items {
			.urgent__news__item {
				margin-bottom: 24px;
				cursor: pointer;
				&:last-child {
					margin-bottom: 0;
				}
				&:first-child {
					margin-top: 7px;
				}
				&__content {
					p {
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 22px;
						color: #545557;
						padding-right: 30px;
					}
				}
				&__info {
					margin-top: 15px;
					display: flex;
					column-gap: 11px;
					span {
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 400;
						font-size: 13px;
						line-height: 18px;

						color: rgba(0, 0, 0, 0.67);
					}
				}
			}
		}
	}
}