.search__wrapper {
    margin-top: 110px;
    padding-top: 45px;
    padding-bottom: 33px;
    width: 1440px;
    .search__container {
        &__items {
            display: flex;
            column-gap: 24px;
            // padding: 0 60px;
            justify-content: center;

            &__input {
                width: 773px;
                height: 64px;
                background: #fff;
                background: #ffffff;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
                border-radius: 41px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 39px;
                input {
                    outline: none;
                    border: none;
                    width: 100%;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 27px;
                    color: rgba(0, 0, 0, 0.37);
                    z-index: 1;
                }
            }
            &__weather {
                width: 230px;
                height: 64px;
                background: #ffffff;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
                border-radius: 41px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                &__logo {
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
                span {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;

                    color: rgba(60, 61, 63, 0.94);
                }
				.weather__box{
					display: flex;
                    flex-direction: column;
                    position: absolute;
                    align-items: center;
                    justify-content: space-evenly;
                    top: 170px;
                    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
                    width: 220px;
                    border-bottom-left-radius: 41px;
                    border-bottom-right-radius: 41px;
                    height: 0px;
                    transition: 0.3s;
                    z-index: 1;
                    background-color: #FFF;
                    span {
                        display: none;
						line-height: 0;
                    }
				}
            }
            &__currency {
                width: 230px;
                height: 64px;
                background: #ffffff;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
                border-radius: 41px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                z-index: 1;

                .other__currency__box {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    align-items: center;
                    justify-content: space-evenly;
                    top: 170px;
                    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
                    width: 220px;
                    border-bottom-left-radius: 41px;
                    border-bottom-right-radius: 41px;
                    height: 0px;
                    transition: 0.3s;
                    z-index: 0;
                    background-color: #FFF;

                    span {
                        display: none;
                    }
                }
                &__logo {
                    width: 36px;
                    height: 36px;
                }
				&__angle {
					cursor: pointer;
					padding: 16px;
					transition: 0.3s;
				}
                span {
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    color: rgba(60, 61, 63, 0.94);
                }
            }
        }
    }
}
